<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Brain Agriculture</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <style>
        #jumbotrom {
            padding-top: 2%;
        }
    </style>
</head>
<body>

<main class="container">
    <div id="jumbotrom">
        <div class="bg-light p-5 rounded mt-4">
            <h1>Test Brain Agriculture - Backend</h1>
            <p class="lead">
                O teste tem como objetivo acurar as habilidades do candidato em resolver alguns problemas
                relacionados à lógica de programação, regra de negócio e orientação à objetos.
            </p>
            <a class="btn btn-lg btn-primary mt-2" href="/api/" role="button">Acessar a API Root</a>
            <a class="btn btn-lg btn-secondary mt-2" href="/admin/" role="button">Acessar o Painel Administrativo</a>
        </div>
    </div>
</main>

</body>
</html>